@import "tailwindcss";

/* global.css */
:root {
    --background: lab(96.47% -1.63 11.3);
    --text-color: #000000;
  }
  
  .dark {
    --background: #0c000e;
    --text-color: rgb(240, 240, 240);
  }
  
  body {
    background-color: var(--background);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
/* Allow scrolling but blur and dim the page content */
.cookie-overlay #__next {
  filter: blur(5px) brightness(0.7);
  pointer-events: auto; /* allow scrolling */
}
